:root {
    --L-color: #1b96b8;
    --L-darker: #097496;
    --ts-color: #ff7d76;
    --htp-color: limegreen;
    --au-color: #e86af0;
}

html {
    position: absolute;
    scroll-behavior: smooth;
}

body {
    background-color: var(--L-color);

    height: 100%;
}

a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    font-family: sans-serif;
    font-size: 80px;
    color: white;
}

header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 40px;

    background-color: #000;

    z-index: 100;
}

#nav-bar {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo-link {
    position: absolute;

    top: 0;
    left:-15px;

    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;

    width: 75px;
    height: 35px;

    margin-top: 3px;
    margin-left: 30px;
}

#logo-link:hover {opacity: 0.9;}

#L {
    position: absolute;

    margin: auto;

    top: 2.5px;
    right: 7px;
    bottom: 2.5px;

    height: 30px;
    width: 11px;

    background-color: var(--L-color);
}

#L:after {
    content: "";

    position: absolute;

    margin: auto;

    bottom: 0;
    right: -7px;

    height: 11px;
    width: 17px;

    background-color: var(--L-color);
}

#top-right-nav {
    margin: 0 0 0 auto;
}

#top-right-nav ul {
    display: flex;
    align-items: stretch;

    margin-top: 0px;
}

.nav-link {
    list-style: none;
    
    padding-top: 8px;
    margin: 0;
}

.nav-link a {padding: 9.8px;}

nav .nav-link a:hover {
    cursor: pointer;
}

#the-set:hover {
    color: var(--ts-color);
}

#how-to-play:hover {
    color: var(--htp-color);
}

#about-us:hover {
    color: var(--au-color);
}

#bars-bg {
    position: absolute;

    width: 40px;
    height: 40px;

    right: 10px;
    top: 0px;

    z-index: 101;

    /*visibility: hidden;*/
}

#bars-bg:hover {
    opacity: .9;
}

#bars {
    position: absolute;

    margin: auto;

    border-radius: 2px;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 25px;
    height: 7px;

    background-color: var(--htp-color);
}

#bars:before {
    content: "";

    position: absolute;

    margin: -10px auto 0 auto;
    
    border-radius: 2px;

    left: 0;
    right: 0;

    width: 25px;
    height: 7px;

    background-color: var(--ts-color);
}

#bars:after {
    content: "";

    position: absolute;

    margin: 0 auto -20px auto;

    border-radius: 2px;

    left: 0;
    right: 0;
    bottom: 10px;

    width: 25px;
    height: 7px;

    background-color: var(--au-color);
}

#X-bg {
    position: absolute;

    width: 37px;
    height: 37px;

    right: 11.5px;
    top: -37.5px;

    z-index: 101;

    background-color: black;

    transition: all .3s ease-in-out;

    z-index: 102;
    
    /*
    '&times; == x'
    color: white;
    font-weight: bold;
    font-size: 25px;*/
}

#X-bg:hover {
    cursor: pointer;
}

#X-O {
    position: absolute;

    margin: auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 24.5px;
    height: 24.5px;

    /*border: 2.3px solid #ee2013;*/

    border-radius: 30px;
    opacity: 1;

    transition: all .3s ease-in-out;

    z-index: 1000;
}

#X-O:hover {
    opacity: .85;
}

#X {
    position: absolute;

    margin: auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 8px;
    height: 24px;

    border-radius: 2px;

    transform: rotate(-45deg);

    background-color: #ee4035;
}

#X:after {
    content: "";

    position: absolute;

    margin: auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 8px;
    height: 24px;

    border-radius: 2px;

    transform: rotate(90deg);

    background-color: #ee4035;
}

#flex-content {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#cta {
    width: 90%;
    height: 500px;

    margin: 2% auto 2% 5%;


    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#cta-desc p {
    flex: 1 2 auto;
    font-size: 20px;
}

#cta form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 10px;

    flex: 2 1 auto;
}

#cta form > * {
    margin-top: 20px;
}



#email-info {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 300px;
    height: 250px;

    border-radius: 4px;
}


#email-info label {
    flex: 1 1 auto;

    font-family: sans-serif;
    font-size: 40px;

    color: var(--L-color);

    padding: 15px;
}

#email {
    flex: 1 1 auto;

    background: transparent;

    color: white;

    border: none;
    border-bottom: 2.5px solid orange;
    border-left: 2.5px solid orange;

    padding: 7px;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;

    opacity: .9;
}

#email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-family: sans-serif;
}

#email:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: sans-serif;
}

#email::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-family: sans-serif;
}

#submit {
    width: 100%;
    height: 50px;

    border: 2px solid;
    border-radius: 20px;

    background-color: var(--L-color);
    color: white;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#submit:hover {
    cursor: pointer;

    background-color: rgba(5,255,161,0.6);
    /*background-color: rgba(232,106,240,0.5); */
}

#vid-bg {
    position: absolute;

    top: 675px;
    right: 0;
    left: 0;

    width: auto;
    height: 200px;
    
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);

    z-index: -1;
}

.bg {
    right: 0;
    left: 0;
    width: auto;
    height: 33.33%;
}

video {
    margin-top: 80px;
    max-width: 90%;
    /*border-radius: 5px;*/
    
    /*border: 0.3px solid var(--L-color);*/
    border: 0.3px solid white;
    border-radius: 8px;
}

#prod-bg {
    position: absolute;

    top: 900px;
    right: 0;
    bottom: 50px;
    left: 0;

    width: auto;
    height: auto;

    background-color: black;
    
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);

    z-index: -1;

}

#prod-grid {
    margin-top: 10px;
    padding: 5% 10px 5% 10px;
    width: 90%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 20px;
}

.prod-cell img {
    width: 100%;
    height: auto;

    border: .0002em solid white;
    border-radius: 3px;
}

.title {
    font-family: sans-serif;
    color: white;
}

#piece-1 {
    position: absolute;

    height: 30px;
    width: 10px;

    background-color: #ff7d76;

    margin-left: 10px; 
}

#piece-1:after {
    content: "";

    position: absolute;

    height: 10px;
    width: 10px;

    margin-top: 10px;
    margin-left: 10px;

    background-color: #ff7d76;
}

#piece-2 {
    position: absolute;

    height: 10px;
    width: 25px;

    margin-top: 15px;
    margin-left: 10px;

    background-color: lightgreen;
}

#piece-2:after {
    content: "";

    position: absolute;

    height: 10px;
    width: 25px;

    margin-left: 14px;
    margin-top: -10px;

    background-color: lightgreen;
}

#piece-3 {
    position: absolute;

    height: 10px;
    width: 30px;

    margin-top: 5px;
    margin-left: 10px;

    background-color: #e86af0;
}

#piece-3:after {
    content: "";

    position: absolute;

    height: 10px;
    width: 10px;

    margin-top: 10px;
    margin-left: 20px;

    background-color: #e86af0;
}

#foot {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;

    position: absolute;

    right: 0;
    bottom: -100px;
    left: 0;

    width: auto;
    height: 50px;

    margin-top: 100px;

    background-color: black;

    z-index: -1;
}

#soc-icons-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 200px;
}

@media only screen and (min-width: 750px) {
    #bars-bg {visibility: hidden;}
    #X-bg {visibility: hidden;}
}

@media only screen and (max-width: 800px) {
    #cta h1 {font-size: 70px;}
}

@media only screen and (max-width: 750px) {
    #top-right-nav-ul {
        position: relative;

        /**/
        visibility: hidden;
        /**/
        
        margin-top: 40px;
        padding-bottom: 15px;

        
        flex-direction: column;
        
        align-items: flex-start;
        justify-content: space-around;
        
        background-color: black;
    }

    #top-right-nav-ul li {
        margin-right: 15px;
    }

    #top-right-nav-ul:target {
        visibility: visible;
        opacity: 1;

        margin-top: 40px;
        animation: menu-pop .5s;
        animation-fill-mode: forwards;
    }

    @keyframes menu-pop {
        0% {
            right: -200px;
        }

        100% {
            right: 0;
        }
    }

    #nav-link {
        position: absolute;

        margin-right: 60px;

        background-color: red;
    }

    #cta {
        flex-direction: column;
        align-items: center;

        /*margin: 2% auto 2% auto;*/
        margin-left: 10%;

        height: 700px;
    }

    #cta h1 {font-size: 60px;}

    #cta p {
        margin-top: -15px;
        font-size: 15px;
    }

    #vid-bg {top: 850px;}

    #prod-bg {top: 1050px;}

    #email-info label {font-size: 30px;}

    #submit {height: 60px;}

    #prod-grid {
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    #cell-1 {order: 2;}
    #cell-2 {order: 1;}
    #cell-3 {order: 3;}
    #cell-4 {order: 4;}
    #cell-5 {order: 6;}
    #cell-6 {order: 5;}
}